.sombra-texto {
    text-shadow: 3px 3px 0px rgba(0,0,0,1);
}

.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-text-1 {
  font-family: balatro;
  font-size: 1.875rem;
  margin: 20px 909px 0 -43px;
}

.u-section-1 .u-text-2 {
  font-family: balatro;
  font-size: 1.875rem;
  margin: -36px 216px 0 650px;
}

.u-section-1 .u-form-1 {
  height: 97px;
  background-image: linear-gradient(rgba(71,138,201,0.6313725490196078), rgba(219,84,90,0.6705882352941176));
  border-style: solid;
  --border-color-var: #163549;
  margin: 20px 592px 0 -43px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-family: balatro;
  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 1;
}

.u-section-1 .u-input-1 {
  --radius: 5px;
  background-image: none;
  box-shadow: 3px 3px 0px 0px rgba(66,84,101,1);
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-family: balatro;
  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 1;
}

.u-section-1 .u-input-2 {
  --radius: 5px;
  background-image: none;
  box-shadow: 3px 3px 0px 0px rgba(66,84,101,1);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --color-var: #91d485;
  --radius: 5px;
  font-weight: 600;
  font-size: 1.125rem;
  --hover-color-var: #81e474;
  --active-color-var: #5fda3b;
  box-shadow: 3px 3px 0px 0px rgba(66,84,101,1);
  padding: 7px 30px 8px 29px;
}

.u-section-1 .u-table-1 {
  width: 511px;
  margin: -97px 0 0 auto;
}

.u-block-fde8-62 {
  --border-color-var: #163549;
}

.u-block-fde8-65 {
  height: 47px;
}

.u-section-1 .u-table-body-1 {
  background-image: linear-gradient(rgba(71,138,201,0.6313725490196078), rgba(219,84,90,0.6705882352941176));
  font-family: balatro;
}

.u-section-1 .u-table-cell-1 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-2 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-3 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-4 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-5 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-6 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-7 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-8 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-9 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-10 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-11 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-12 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-13 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-14 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-15 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-16 {
  --border-color-var: #163549;
  font-size: 1.25rem;
}

.u-block-fde8-80 {
  height: 47px;
}

.u-section-1 .u-table-2 {
  width: 591px;
  margin: -87px auto 58px -43px;
}

.u-block-fde8-23 {
  --border-color-var: #163549;
}

.u-block-fde8-26 {
  height: 47px;
}

.u-section-1 .u-table-body-2 {
  background-image: linear-gradient(rgba(71,138,201,0.6313725490196078), rgba(219,84,90,0.6705882352941176));
  font-family: balatro;
}

.u-section-1 .u-table-cell-17 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-18 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-19 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-20 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-21 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-22 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-23 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-24 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-25 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-26 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-27 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-28 {
  --border-color-var: #163549;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 1.25rem;
}

.u-block-fde8-41 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 709px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 116px;
    margin-left: 550px;
  }

  .u-section-1 .u-form-1 {
    width: 538px;
    margin-right: 392px;
  }

  .u-section-1 .u-table-2 {
    margin-top: -86px;
    margin-bottom: 15px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 489px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 440px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 309px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 58px;
    margin-right: 0;
    margin-left: 266px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -74px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-bottom: -79px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 105px;
    margin-left: 66px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -121px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: -59px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-top: -134px;
    margin-bottom: -117px;
  }
}@font-face {
  font-family: 'balatro';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/balatro.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'balatro';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/balatro.ttf);
}